[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lvovard
[access "refs/for/refs/*"]
	read = group user/lvovard
	push = group user/lvovard
	label-Code-Review = -2..+2 group user/lvovard
	label-Verified = -1..+1 group user/lvovard
	rebase = group user/lvovard
	removeReviewer = group user/lvovard
	submit = group user/lvovard
[access "refs/heads/*"]
	read = group user/lvovard
	create = group user/lvovard
	push = +force group user/lvovard
	pushMerge = group user/lvovard
[access "refs/tags/*"]
	push = group user/lvovard
	push = +force group user/lvovard
